.card {
  border-style: solid;
  border-width: 0px;
  border-color: rgb(25, 4, 4);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-color: grey;
  line-height: 1.2em;
  color:white;
  height:100%;
}

.card:hover{
  border-color:white;
  border-width: 1px;
}

.description {
  background-color: rgba(0, 0, 0, 0.926);
  padding: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  line-height: 1.5em;
  
}
.description h5 {
  margin-top: 10px;
}

.description h2{
  font-size: 1.4em;
}

.image{
  height: 100%;
}

.imageContainer{
  height: 400px ;
}
