.marker {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4A9AD3;
  width: 100px;
  height: 100px;
  top: 20px;
  right: 20px;
  color: black;
}

.title {
}
