.navbar {
  position: fixed;
  height: 220px;
  background-color: white;
  width:100%;
  padding:20px;
}
.navbarLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navbarLine1{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bold {
  font-weight: 900;
}

.text {
  font-size: 2em;
}

.navbar input {
  height: 50px;
  padding: 10px;
  font-size: 1.5em;
}
