.bar li {
  display: inline;
  margin-right: 30px;
}

.bar a {
  text-decoration: none;
}

.bar a:hover {
  color: var(--h1-color);
}

.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  top: 40px;
  z-index: 1000;
}

.selected {
  color: var(--h1-color);
}

.hamburger {
  display: none;
}

@media only screen and (max-width: 800px) {
  .hamburger {
    display: block;
  }

  .hamburg {
    display: block;
    background: #555;
    width: 75px;
    height: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 4px;
  }

  input#hamburg {
    display: none;
  }

  .line {
    position: absolute;
    left: 10px;
    height: 4px;
    width: 55px;
    background: #fff;
    border-radius: 2px;
    display: block;
    transition: 0.5s;
    transform-origin: center;
  }

  .line:nth-child(1) {
    top: 12px;
  }
  .line:nth-child(2) {
    top: 24px;
  }
  .line:nth-child(3) {
    top: 36px;
  }

  #hamburg:checked + .hamburg .line:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
  }

  #hamburg:checked + .hamburg .line:nth-child(2) {
    opacity: 0;
  }

  #hamburg:checked + .hamburg .line:nth-child(3) {
    transform: translateY(-12px) rotate(45deg);
  }
}
